.red { 
    --current-color: var(--red)
}
.blue {
    --current-color: var(--blue)
}
.green {
    --current-color: var(--green)
}
.orange {
    --current-color: var(--orange)
}
.yellow {
    --current-color: var(--yellow);
}
.purple {
    --current-color: var(--purple)
}
.pink {
    --current-color: var(--pink)
}
.analytics {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.analytics_wrap {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.analytics_heading {
    align-self: flex-start;
    font-weight: 500;
    color: var(--secondary-text);
}

/* GRAPH */
.graph_and_accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 850px;
    min-width: 650px;
    gap: 25px;
    flex-shrink: 1;
}

.graph_container {
    width: 100%;
    height: 400px;
    padding: 25px;
    border: 1px solid vaR(--subtle-border);
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(52, 115, 231, 0.03), var(--secondary-bg) 80%);
    /* background: var(--secondary-bg) */
}
/* ACCORDION */
.accordion_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.accordion_container h2 {
    color: var(--secondary-text)
}
.analytics_accordion {
    border: 1px solid var(--subtle-border);
    border-radius: 10px;
    height: fit-content;
    width: 100%;
    overflow-y: scroll;
    align-self:center;
} 
.accordion_card {
    border: 1px solid var(--subtle-border);
    list-style: none;
    /* border-radius: 10px; */
}
.card_header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: var(--secondary-bg);
    border-bottom: 1px solid var(--subtle-border);
}
.expand_btn {
    background: none;
    border: none;
    color: var(--secondary-text);
    font-size: 20px;
    cursor: pointer;
}
.expand_btn:hover {
    color: var(--primary-text)
}
.card_title {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.card_title svg {
    color: var(--current-color)
}
.data_table {
    height: 0px;
    overflow: hidden;
    transition: .5s ease;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} 
.data_table > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.data_label {
    color: vaR(--secondary-text);
    font-size: 15px;
    font-weight: 600;
}
.data_display {
    font-size: 20px;
}
.accordion_card.open .data_table {
    height: 250px;
    opacity: 1;
}




/* SIde */

.side_components {
    width: 400px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
/* DATA WIDGETS */
.widgets_container {
    border: 1px solid var(--subtle-border);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.widgets_container > *{
    width: 180px;
    height: 100px;
    background: var(--secondary-bg);
    border-radius: 10px;
    /* border: 1px solid var(--subtle-border); */
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.widget_label {
    color: var(--secondary-text)
}
.widget_data {
    font-size: 20px;
}
/* Updates Widget*/
.updates_container {
    border: 1px solid var(--subtle-border);
    height: 300px;
    border-radius: 10px;
    background: var(--fg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    opacity: .5;
    cursor: not-allowed;
}
.updates_container svg {
    font-size: 35px;
}






@media (max-width: 1200px) {
    .updates_container {
        display: none;
    }
    .analytics_wrap {
        flex-direction: column;
        align-items: center;
    }
    .graph_and_accordion {
        min-width: 300px;
    }
    .graph_container {
        height: 300px;
    }
    .side_components {
        max-width: 850px;
        min-width: 400px;
        width: 100%;
    }
   
}

@media (max-width: 600px) {
    .analytics {
        padding-top: 70px;
    }
    .graph_container {
        height: 250px;
    }
}

@media (max-width: 450px) {
    .graph_container {
        height:200px;
    }
    .data_table > * {
        padding: 15px;
    }
    .data_label {
        font-size: 12px;
    }
    .data_display {
        font-size: 15px;
    }
    .side_components {
        min-width: 300px;
    }
}