.habit_card {
    min-width: 250px;
    height: 90px;
    padding: 10px;
    border-radius: 5px;
    background: vaR(--fg);
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}
.habit_card.inactive {
    background: none;
    border: 1px solid var(--subtle-border);
    border-left: 3px solid var(--current-color);
    opacity: .4;
}
.inactive_message {
    color: var(--secondary-text);
    font-size: 15px;
    text-align: center;
    font-style: italic;
}
.red { 
    border-left: 3px solid var(--red);
    --current-color: var(--red)
}
.blue {
    border-left: 3px solid vaR(--blue);
    --current-color: var(--blue)
}
.green {
    border-left: 3px solid vaR(--green);
    --current-color: var(--green)
}
.orange {
    border-left: 3px solid vaR(--orange);
    --current-color: var(--orange)
}
.yellow {
    border-left: 3px solid vaR(--yellow);
    --current-color: var(--yellow);
}
.purple {
    border-left: 3px solid var(--purple);
    --current-color: var(--purple)
}
.pink {
    border-left: 3px solid vaR(--pink);
    --current-color: var(--pink)
}
.habit_card svg {
    font-size: 20px;
    z-index: 2;
}
.modal_btn {
    margin-left: auto;
    background: none;
    border: none;
    color: var(--primary-text);
    z-index: 2;
}
    
.card_header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    z-index: 2;
}
.check_in_btn {
    background: none;
    border: 1px solid vaR(--subtle-border);
    padding: 5px;
    width: 100%;
    color: var(--secondary-text);
    border-radius: 5px;
    font-size: 15px;
    transition: .1s ease;
    cursor: pointer;
    z-index: 2;
}
.undo_check_btn {
    color: rgba(255, 255, 255, 0.733);
    border: none;
    font-weight: bold;
    background: none;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: right;
    transition: .2s;
}
.undo_check_btn:hover {
    color: white;
}
.undo_check_btn svg {
    font-size: 15px;
}
.check_in_btn:hover {
    color: var(--primary-text);
    border: 1px solid var(--current-color); 
    background: var(--current-color)
}  
.check_in_btn:disabled {
    display: none;
}

.incomplete:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    width: 0;
    content: "";
    background: var(--current-color);
    animation: undo .2s ease-in-out forwards;
    border-radius: 5px;
}
.completed::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    width: 0;
    content: "";
    background: var(--current-color);
    animation: completion .2s ease-in-out forwards;
    border-radius: 5px;
}

.modal_btn {
    cursor: pointer;
}

.card_modal {
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: absolute;
    top: 10px;
    right: -10px;
    background: var(--fg);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),-5px -5px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--subtle-border);
    border-radius: 5px;;
}
.card_modal button {
    background: none;
    border: none;
    color: var(--secondary-text);
    padding: 10px;
    width: 150px;
    font-size: 15px;
    border: 1px solid var(--subtle-border);
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.card_modal button svg {
    font-size: 15px;
}
.edit_btn:hover {
    color: vaR(--primary-text);
}
.delete_btn:hover {
    color: var(--red)
}
 
@keyframes completion {
    0% {
        width:0;
    }
    100% {
        width: 100%;
    }
}
@keyframes undo {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

