.logreg_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 100vh;
    background: vaR(--bg);
    padding-top: 75px;
}
.logreg_header {
    text-align: center;
    width: 300px;
}
.logreg_form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}
.logreg_form input {
    border-radius: 5px;
    padding: 9px;
    outline: none;
    border: none;
    background: var(--secondary-bg);
    color: vaR(--primary-text)
}
.logreg_form label {
    color: var(--secondary-text);
    font-size: 13px;
    display: flex;
    justify-content: space-between
}

.logreg_form button {
    margin-top: 15px;
    padding: 7px;
    background: vaR(--primary-theme);
    color: var(--primary-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.logreg_form_message {
    color: vaR(--secondary-text);
    font-size: 13px;
}
.logreg_form a {
    color: var(--primary-theme);
    font-weight: 500;
}
.mobile_error {
    color: var(--red);
    display: none;
}

@media (max-width: 600px) {
    .active_error {
        display: block;
    }
    
}
