.progress_card {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 0;
}
.progress_card p {
    width: 250px;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}
.progress_card svg { 
    color: var(--current-color)
}
.red {
    --current-color: var(--red)
}
.blue {
    --current-color: vaR(--blue);
}
.yellow {
    --current-color: vaR(--yellow)
}
.green {
    --current-color: vaR(--green)
}
.pink {
    --current-color: vaR(--pink)
}
.purple {
    --current-color: var(--purple)
}

/* Grid */
.progress_grid {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.grid_cell {
    height: 25px;
    width: 25px;
    border-radius: 5px;
}
.Month .grid_cell {
    height: 13px;
    width: 13px;
    border-radius: 3px;
}

.grid_cell.checked {
    background-color: var(--current-color);
    transition: .1s ease;
}
.grid_cell.checkin_day:not(.checked, .nonexist) {
    background: var(--current-color);
    opacity: .1;
}

.grid_cell:not(.checkin_day) {
    background: none;
    border: 1px solid var(--subtle-border)
}


/* Bar */
.progress_bar {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    background: var(--subtle-border);
    border-radius: 5px;
}
.progress_bar_filler {
    background: var(--current-color);
    height: 25px;
    border-radius: 5px;
    transition: .3s;
    
}




.red {
    --current-color: var(--red)
}
.blue {
    --current-color: var(--blue)
}
.yellow {
    --current-color: var(--yellow)
}
.green {
    --current-color: var(--green)
}
.blue {
    --current-color: vaR(--blue)
}
.purple {
    --current-color: vaR(--purple)
}
.pink {
    --current-color: vaR(--pink)
}

.grid_cell.nonexist {
    position: relative;
    background: var(--secondary-bg);
    border: 1px solid var(--subtle-border);
}
.grid_cell.nonexist::before {
    position: absolute;
    content: "/";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--subtle-border)
}

@media (max-width: 1300px) {

    .Month .grid_cell {
        width: 12px;
        height: 13px;
    }
}

@media (max-width: 1100px) {

    .progress_card p {
        width: 220px;
    }

}

@media (max-width: 800px) {
    .progress_card {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        gap: 10px;
    }
    .progress_bar, .progress_bar_filler, .progress_grid{
        height: 15px;
    }
    .progress_bar {
        width: 100%;
    }
    .Week .grid_cell {
        height: 20px;
        width: 20px;
    }
}
@media (max-width: 600px) {
    .progress_card {
        gap: 7px;
    }
    .Month .grid_cell {
        width: 10px;
    }

}
@media (max-width: 500px ) {
    .Month .grid_cell {
        width: 8px;
    }
}