.progress_widget {
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 20px;
} 
.progress_header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.header_date { 
    display: flex;
    align-items: center;
    color: vaR(--secondary-text);
    gap: 15px;
}

.date_btn_container {
    display: flex;
    gap: 10px;
}
.date_btn {
    background: none;
    display: flex;
    align-tracks: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid vaR(--secondary-text);
    border-radius: 50%;
    padding: 5px;
    color: var(--secondary-text);
    cursor: pointer;
}
.date_btn:hover {
    border: 1px solid var(--primary-text);
    color: vaR(--primary-text);
}
.form_toggle_btn {
    background: vaR(--primary-theme);
    border-radius: 25px;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.form_toggle_btn:hover {
    filter: brightness(1.2);
    transition: .2s;
}
.progress_views {
    border-radius: 5px;
    border: 1px solid vaR(--subtle-border);
}
.progress_toolbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.date_interval_selector {
    display: flex;
    gap: 5px;
    background: var(--fg);
    border-radius: 20px;
    padding: 7px;
    justify-content: space-around;
}
.date_interval_selector button {
    width: 80px;
    background: none;
    border-radius: 20px;
    color: vaR(--secondary-text);
    border: none;
    font-size: 15px;
    padding: 5px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.date_interval_selector .active_window {
    background: var(--subtle-border);
    color: var(--primary-text)
}
.display_type_selector {
    display: flex;
    gap: 5px;
    background: var(--fg);
    align-items: center;
    border-radius: 20px;
    padding: 7px;
}
.display_type_selector button {
    font-size: 20px;
    background: none;
    width: 50px;
    border: none;
    color: var(--secondary-text);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
    transition: .2s ease-in-out;
    cursor: pointer
}
.display_type_selector .active_display {
    background: var(--subtle-border);
    color: var(--primary-text);
}
.display_type_selector button:disabled {
    color: var(--subtle-border);
    cursor:not-allowed
}


.progress_list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
} 
.progress_dates {
    display: flex;
    margin-bottom: -15px;
    padding-left: 195px;
    gap: 0;
}
.week_dates {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.week_dates p {
    font-size: 15px;
    width: 35px;
    text-align: center;
    color: var(--secondary-text)
}


.date_btn:disabled {
    border: 1px solid var(--subtle-border);
    color: var(--subtle-border);
    cursor:not-allowed;
}

.empty_progress_message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 20px;
}
.empty_progress_img {
    width: 250px;
}

@media (max-width: 1300px) {
    .progress_dates {
        padding-left: 185px;
    }
}
@media (max-width: 1100px) {
    .progress_dates {
        padding-left: 175px;
    }
}
@media (max-width: 800px) {
    .progress_list {
        gap: 20px;
    }
    .progress_dates {
        padding-left: 0;
        margin-top: -10px;
        margin-bottom: 0px;
    }
}
@media (max-width: 600px) {
    .progress_list {
        padding: 15px;
        padding-bottom: 20px;
    }
    .progress_header > * {
        font-size: 12px;
    }
    .progress_header svg {
        font-size: 15px;
    }
    .progress_toolbar {
        padding: 10px;
    }
  
    .date_interval_selector button {
        font-size: 12px;
        width: 60px;
    }
    .display_type_selector button {
        font-size: 15px;
    }
}

@media (max-width: 420px) {
    .date_btn_container {
        gap: 5px;
    }
    .header_date {
        gap: 10px;
    }
  
}