
.protected_layout {
    display: flex;
    height: 100vh;
    position: relative;
}
::-webkit-scrollbar {
    display: none;
}
.protected_floating_tool {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    display: flex;
    gap: 20px;
    justify-content: right;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    background: vaR(--nav-highlight);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.276);
}
.hamburger_menu_btn {
    display: none;
}
.floating_user_tools {
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo_wrap {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding-left: 20px;
    padding-top: 10px;
}
.logo_text {
    color: vaR(--primary-theme);
    font-weight: bolder;
    font-size: 25px;
    font-family: "Funnel Sans";
}
.logo_img {
    height: 15px;
}
.protected_aside {
    display: flex;
    flex-direction: column;
    background: var(--secondary-bg);
    z-index: 1000;
}
.navbar {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    border-bottom: 1px solid var(--subtle-border);
}
.navbar a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    color: var(--secondary-text);
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
}
.navbar a:hover {
    color: var(--primary-theme);
    transition: .1s ease-in-out
}
.navbar .active{
    color: var(--primary-theme);
    background: vaR(--nav-highlight);
    font-weight: 600;
}
.sign_out_btn {
    background: none;
    border: none;
    color: var(--secondary-text);
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
    margin-top: 100px;
}

.protected_layout_outlet{
    width: 100%;
    overflow: hidden;
}


@media (max-width: 1300px) {
    .navbar {
        width: auto
    }
    .navbar a {
        padding-left: 10px;
        font-size: 20px;
    }
    .full_width {
        display: none;
    }
}
@media (max-width: 600px) {
    .protected_floating_tool {
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        height: 50px;
        justify-content: space-between;
    }
    .floating_user_tools {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .hamburger_menu_btn {
        display: flex;
        background: none;
        border: none;
        color: white;
        font-size: 30px;
        align-items: center;
    }
    .protected_aside {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
    }
    .full_width {
        display: flex;
        font-size: 20px;
        width: 200px;
    }
    .hamburger_menu_btn.visible {
        color: var(--primary-theme);
    }
    .protected_aside.invisible {
        animation: mobileNavClose .5s ease forwards;
    }
    .protected_aside.visible {
        animation: mobileNav .3s ease;
        box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.26);
    }
  
}

@keyframes mobileNav {
    0% {
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(0%)
    }
}

@keyframes mobileNavClose {
    0% {
        transform: translateX(0%)
    }
    100% {
        transform: translateX(-100%);
    }
}
